/* MODULES - Individual style components */
/* buttons */
button {
    background-color: $pink;
    color: $white;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    @include textTransform(uppercase);
    @include fontsize(12);
    transition: opacity 0.5s;
    &:hover{
      opacity: 0.6; }
  
  .button-send {
    margin-top: 10px; }}
  