/* MODULES - Individual style components */
/* buttons */
header
  .arrow {
    @include transition (all, 0.5s, default) }
    :hover {
      @include scale(2.5) }
button {
    background-color: $pink;
    color: $white;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    @include textTransform(uppercase);
    @include fontsize(12);
    transition: opacity 0.5s; }
    :hover {
      opacity: 0.6; }
  
  .button-send {
    margin-top: 10px; }
  