html {
    overflow-x: hidden;
    @include wh(100%, auto); }

body {
    @extend html;
    @include fontsize(18, 1.5);
    padding: 25px;
    color: $grey;
    font-family: 'Roboto', sans-serif;}
    section {
        padding: 50px 0; }
        .text-center p, h2 p, h3 p, .nav-main p {
            padding: 0 20px;
            max-width: 900px;
            @include margin(all, 0 auto) }
    .container {
        @include wh(100%, auto);
        @include margin(all, 0 auto);
        max-width: 1200px;}
        .text-center, .social-wrap, h2, h3, .nav-main {
            text-align: center; }
        .text-center form p, h2 form p, h3 form p, .nav-main form p { @include desktop{
            @include margin(top, 10px); }}
    header
        .arrow {
            @include transition (all, 0.5s, ease); 
            &:hover{
                @include scale(2.5)}}
    h2, h3 {
    @include margin(bottom, 30px);
    position: relative;
    padding-bottom: 14px;
    &:after{
        content: '';
        position: absolute;
        display: block;
        background: $pink; 
        @include margin(bottom, 0 );
        @include margin(left, calc(50% - 36px));
        @include wh(72px, 3px);
        }
    }