
/* form */
form {
  @include position('static', $top: 20px, $right: auto, $bottom: 20px, $left: auto);
  @include size(100%, auto);
  max-width: 550px; 
  @include desktop {
    padding-bottom: 40px;
  }
    p {
      @include fontsize(12);
      @include desktop{
        display: inline-block;
        float: left; }}
  input, textarea {
    display: block;
    width: 100%;
    @include fontsize(12);
    outline: none;
    padding: 15px;
    color: $grey;
    @include border('default', $pink);
    margin-bottom: 20px; }
  textarea {
    resize: none; }
  .button-send {
    @include desktop{
    float: right;
    margin-top: 0; }}
  }
