header {
  position: relative;
  background: url("https://image.ibb.co/jBXfxA/bg-contact.jpg"); @include bgc-img(center, center/cover);
  padding: 15% 0 0 0;
  min-height: 650px; }

.title-main span, h1 span {
  display: block; }

.title-sub {
  position: relative; 
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 82px;
    height: 3px;
    left: -webkit-calc(50% - 41px);
    left: calc(50% - 41px);
    bottom: -10px;
    background: $white; }}

.title-blurb {
  padding: 40px 0; }
  .title-blurb span {
    display: block; }

.menu {
  background: $white;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  vertical-align: middle;
  padding: 10px;
  border-bottom: 2px solid$darkGrey; }
  
h1 {
  display: inline-block; }

.nav-toggle {
  display: inline-block;
  float: right;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  div {
    display: block;
    width: 40px;
    height: 3px;
    @include margin(top, 7px);
    background-color: $grey;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  &:hover {
    opacity: 0.7; }}


.nav-main {
  display: none;
  clear: both;
  background: $white; }
  .nav-main a {
    position: relative;
    padding-bottom: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    width: 100%;
    padding: 20px 0; }
    .nav-main a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: $pink;
      -webkit-transform: scale(0, 1);
          -ms-transform: scale(0, 1);
          -o-transform: scale(0, 1);
              transform: scale(0, 1);
      -webkit-transform-origin: 0 50%;
          -ms-transform-origin: 0 50%;
          -o-transform-origin: 0 50%;
              transform-origin: 0 50%;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .nav-main a:hover::before {
        -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -o-transform: scale(1, 1);
                transform: scale(1, 1); }


footer 
  .copy {
    @include margin(top, 20px); }
    @media (min-width: 500px) {
      .caption-blurb {
        font-size: 18px;
        font-size: 1.125rem; } }
    
    @media (min-width: 768px) {
      header {
        min-height: 95vh;
        padding-top: 14em; }
      .figure-sm {
        width: 48%;
        display: block;
        float: left; }
      .figure-sm.one {
        @include margin(left, 4%); } }
    
    @media (min-width: 992px) {
      .nav-toggle {
        display: none; }
      .nav-main {
        display: block;
        float: right;
        width: 70%; }
        .nav-main ul {
          text-align: right; }
        .nav-main li {
          display: inline-block;
          @include margin(left, 40px); }
        .nav-main a {
          text-transform: uppercase;
          padding: 0; }
      .work-column-lg {
        display: block;
        width: 61.5%;
        float: left; }
      .work-column-sm {
        display: block;
        width: 35.5%;
        float: left;
        @include margin(left, 3%); }
        .work-column-sm img {
          height: auto; }
 }