// /* LAYOUT  */
// header {
//   @include position(relative);
//   background: url("https://image.ibb.co/jBXfxA/bg-contact.jpg"); 
//   @include bgc-img (center, center/cover);
//   padding: 15% 0 0 0;
//   min-height: 650px;}
    
//   .title-main span, h1 span {
//     display: block; }
//   .title-sub {
//     @include position(relative); }
//     .title-sub:after {
//       content: '';
//       display: block;
//       @include size(82px, 3px);
//       @include position(absolute, $bottom: -10px, $left: calc(50% - 41px)/-webkit-calc(50% - 41px));
//       background: $white; }
//   .title-blurb {
//     padding: 40px 0; }
//     .title-blurb span {
//       display: block;
//       }
//   .menu {
//     background: $white;
//     display: block;
//     @include position(absolute, $right: 0, $bottom: 0);
//     @include size (100%, auto);
//     vertical-align: middle;
//     padding: 10px;
//     @include border('bottom', $darkGrey); }
//     h1 {
//       display: inline-block; }
//     .nav-toggle {
//       display: inline-block;
//       float: right;
//       @include size(40px, 40px);
//       cursor: pointer;
//       @include transition(all, 0.5s, ease); 
//       @include desktop {
//       display: none; }}
//       div {
//         display: block;
//         @include size(40px, 3px);
//         @include position(static, $top: 7px);
//         background-color: $grey;
//         @include transition(all, 0.5s, ease);}
//       &:hover {
//         opacity: 0.7; }
//     .nav-main {
//       display: none;
//       clear: both;
//       background: $white; 
//       @include desktop{
//       display: block;
//       float: right;
//       @include size(70%, auto);
//       }}
//       a {
//         @include position(relative);
//         padding-bottom: 2px;
//         @include transition(all, 0.3s, ease); 
//         display: block;
//         @include size(100%, auto);
//         padding: 20px 0; 
//         @include desktop{
//         padding: 0; }}
//         &::before {
//           content: '';
//           @include position(absolute, $bottom: 0, $left: 0);
//           @include size(100%, 4px);
//           background-color: $pink;
//           @include scale (0,1);
//           @include transfOrigin(0, 50%);
//           @include transition(all, 0.3s, ease); }
//         &:hover,&::before {
//           @include scale (1,1)}
//       li {
//         @include desktop{
//         display: inline-block;
//         left: 40px }}
//     @include large {
//     min-height: 95vh;
//     padding-top: 14em; 
//     }
// /* work */
// .work-wrap:before, .work-wrap:after {
//   content: " ";
//   display: table; }

// .work-wrap:after {
//   clear: both; }

// figure {
//   @include position(relative, $top: 10px, $right: 0, $bottom: 10px, $left: 0);
//   @include size(100%, auto);
//   cursor: pointer;
//   display: inline-block;}
//   &::before {
//     content: '';
//     @include position(absolute, $top: 0, $left: 0);
//     @include size(100%, 100%);
//     background-color: $black;
//     opacity: 0;
//     @include transition(all, 1s, ease-in-out); }
//   &:hover,&::before {
//     opacity: 0.7; }
//   &:hover
//     .caption-head:before {
//       @include position(static, $top: -20px, $left: -20px)};
//   &:hover
//     .caption-head:after {
//     @include position(static, $top: -20px, $right: -20px)};
//   &:hover 
//     .caption-blurb:before {
//       @include position(static, $bottom: -20px, $left: -20px)};
//   &:hover 
//     .caption-blurb:after {
//       @include position(static, $right: -20px);$bottom: -20px};
//   img {
//     @include size(100%, auto);
//     display: block; }
//   figcaption {
//     @include position(absolute, $top: 50%, $left: 50%);
//     min-width: 200px;
//     @include translate(-50%, -50%);
//     @include transition(all, 1s, ease-in-out); }
//     &::before {
//       content: '';
//       @include position(absolute, $top: calc(50% + 2px)/-webkit-calc(50% + 2px));
//       @include size(80%, 2px);
//       @include translate(-50%, -50%);
//       background-color: $white; }
//     .caption-head {
//       @include position(relative);}
//       &::before {
//         content: '';
//         @include position(absolute, $top: 0, $left: 0);
//         @include border('top', $white);
//         @include border('left', $white);
//         @include size(20px, 20px);
//         @include transition (all, 1s, ease-in-out); }
//       &::after {
//         content: '';
//         @include position(absolute, $top: 0, $right: 0);
//         @include border('top', $white);
//         @include border('right', $white);
//         @include size(20px, 20px);
//         @include transition (all, 1s, ease-in-out); }
//     .caption-blurb {
//       @include position(relative); }
//       &::before {
//         content: '';
//         @include position(absolute, $bottom: 0, $left: 0);
//         @include border('bottom', $white);
//         @include border('left', $white);
//         @include size(20px, 20px);
//         @include transition (all, 1s, ease-in-out); }
//       &::after {
//         content: '';
//         @include position(absolute, $right: 0, $bottom: 0);
//         @include border('right', $white);
//         @include border('bottom', $white);
//         @include size(20px, 20px);
//         @include transition(all, 1s, ease-in-out); }

// #testimonials {
//   padding: 5px 0; }

// /* video*/
// .video {
//   @include size(auto, 500px);
//   background: url("https://i.imgur.com/0IRYG66.jpg");
//   @include bgc-img (cover, default);
//   @include position(relative);}

/*contact */
#contact {
  @include position(relative); }
  :before {
    content: '';
    @include position(absolute, $top: 0, $left: 0);
    display: block;
    @include size(100%, 100%);
    background: url("https://image.ibb.co/h9qYHA/bg-video.png"); @include bgc-img (center, center);
    opacity: 0.1;
    z-index: -1; }

//   .figure-sm { 
//     @include large{
//     @include size(48%, auto);
//     display: block;
//     float: left; }}
//   .figure-sm.one { 
//     @include large {
//       @include position(static, $left: 4%)}}

// footer .copy {
//   @include position(static, $top: 20px); }
// @media (min-width: 992px) {
//   .work-column-lg {
//     display: block;
//     @include size(61.5%, auto);
//     float: left; }
//   .work-column-sm {
//     display: block;
//     @include size(35.5%, auto);
//     float: left;
//     @include position(static, $left: 3%); }
//     .work-column-sm img {
//       @include size(auto, auto); }
//     .text-center, .nav-main {
//       @include position(static, $top: 10px);} }
