header {
  position: relative;
  background: url("https://image.ibb.co/jBXfxA/bg-contact.jpg"); @include bgc-img(center, center);
  padding: 15% 0 0 0;
  min-height: 650px; 
  @include large{
    min-height: 95vh;
    padding-top: 14em; }}

.title-main span, h1 span {
  display: block; }

.title-sub {
  position: relative; 
  &:after {
    content: '';
    position: absolute;
    display: block;
    @include wh(82px, 3px);
    left: -webkit-calc(50% - 41px);
    left: calc(50% - 41px);
    bottom: -10px;
    background: $white; }}

.title-blurb {
  padding: 40px 0; }
  .title-blurb span {
    display: block; }

.menu {
  background: $white;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  @include wh(100%, auto);
  vertical-align: middle;
  padding: 10px;
  border-bottom: 2px solid $darkGrey; }
  
h1 {
  display: inline-block; }

.nav-toggle {
  display: inline-block;
  float: right;
  @include wh(40px, 40px);
  cursor: pointer;
  @include transition (all 1s ease);
  div {
    display: block;
    @include wh(40px, 3px);
    @include margin(top, 7px);
    background-color: $grey;
    @include transition (all 0.5s);}
  &:hover {
    opacity: 0.7; }}


.nav-main {
  display: none;
  clear: both;
  background: $white; }
  .nav-main a {
    position: relative;
    padding-bottom: 2px;
    @include transition (0.3s);
    display: block;
    @include wh(100%, auto);
    padding: 20px 0; }
    .nav-main a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      @include wh(100%, 4px);
      background-color: $pink;
      @include scale (0, 1);
      @include transfOrigin (0, 50%);
      @include transition (0.3s);}
      .nav-main a:hover::before {
        @include scale (1);}


footer 
  .copy {
    @include margin(top, 20px); }

.figure-sm {
  @include large {
  @include wh(48%, auto);
  display: block;
  float: left; }}
.figure-sm.one {
  @include large{
  @include margin(left, 4%); } }
    
      // .nav-toggle {
      //   @include desktop{
      //     display: none; }}
      // .nav-main {
      //   @include desktop {
      //   display: block;
      //   float: right;
      //   @include wh(70%, auto); }}
      //   .nav-main ul {
      //     @include desktop{
      //     text-align: right; }}
      //   .nav-main li {
      //     @include desktop{
      //     display: inline-block;
      //     @include margin(left, 40px); }}
      //   .nav-main a {
      //     @include desktop{
      //     text-transform: uppercase;
      //     padding: 0; }}
      // .work-column-lg {
      //   @include desktop{
      //   display: block;
      //   @include wh(61.5%, auto);
      //   float: left; }}
      // .work-column-sm {
      //   @include desktop{
      //   display: block;
      //   @include wh(35.5%, auto);
      //   float: left;
      //   @include margin(left, 3%); }}
      //   .work-column-sm img {
      //     @include desktop{
      //     height: auto; }}