/* work */
.work-wrap:before,
.work-wrap:after {
    content: " ";
    display: table; }

.work-wrap:after {
    clear: both; }

figure {
    position: relative;
    @include margin(all, 10px 0);
    cursor: pointer;
    display: inline-block;
    @include wh(100%, auto);
    &:before {
        content: '';
        position: absolute;
        @include position($top: 0, $left:0);
        @include wh(100%, 100%);
        background-color: #000;
        opacity: 0;
        @include transition (all, 1s, ease-in-out); 
    }
    &:hover, &:before {
        opacity: 0.7; }
    &:hover {
        .caption-head {
            &:before {
                @include position($top: -20px, $left: -20px)};
            &:after {
                @include position($top: -20px, $right: -20px,)}}
        .caption-blurb {
            &:before {
                @include position($bottom: -20px, $left: -20px)}
            &:after {
                @include position($right: -20px, $bottom: -20px)}}}
    img {
        @include wh($width: 100%);
        display: block; }
    figcaption {
        position: absolute;
        @include position($top: 50%, $left: 50%);
        min-width: 200px;
        @include translate(-50%, -50%);
        @include transition (all 1s ease-in-out);
        &:before {
            content: '';
            position: absolute;
            @include wh(80%, 2px);
            @include calc(top, '50% + 2px');
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background-color: $white; }
        .caption-head {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                border-top: 2px solid $white;
                border-left: 2px solid $white;
                @include wh(20px);
                @include position($top: 0, $left: 0);
                @include transition (all 1s ease-in-out);}
            &:after {
                content: '';
                position: absolute;
                border-top: 2px solid $white;
                border-right: 2px solid $white;
                @include wh(20px);
                @include position($top: 0, $right: 0);
                @include transition (all 1s ease-in-out); }}
        .caption-blurb {
            position: relative; 
            &:before {
                content: '';
                position: absolute;
                border-bottom: 2px solid $white;
                border-left: 2px solid $white;
                @include wh(20px);
                @include position($bottom: 0, $left: 0);
                @include transition (all 1s ease-in-out);}
            &:after {
                content: '';
                position: absolute;
                border-bottom: 2px solid $white;
                border-right: 2px solid $white;
                @include wh(20px);
                @include position($right: 0, $bottom: 0);
                @include transition (all 1s ease-in-out);}
            }
        }
    }
.figure-sm {
    @include large {
        @include wh(48%, auto);
        display: block;
        float: left; }}
.figure-sm.one {
    @include large{
        @include margin(left, 4%); } }
.work-column-lg {
    @include desktop{
        display: block;
    @include wh(61.5%, auto);
        float: left; }}
.work-column-sm {
    @include desktop{
        display: block;
    @include wh(35.5%, auto);
        float: left;
    @include margin(left, 3%); }}
.work-column-sm img {
    @include desktop{
        height: auto; }}
#testimonials {
    padding: 5px 0; }

/* video*/
.video {
    @include wh($height: 500px);
    background: url("https://i.imgur.com/0IRYG66.jpg"); @include bgc-img(cover, center);
    position: relative; }

/*contact */
#contact {
    position: relative; 
    &:before {
        content: '';
        position: absolute;
        display: block;
        @include position($top: 0, $left: 0);
        @include wh(100%, 100%);
        background: url("https://image.ibb.co/h9qYHA/bg-video.png"); @include bgc-img(center, center);
        opacity: 0.1;
        z-index: -1; }}