header {
    color: $white;}
.title-main, h1 {
    @include fontsize(30, 1.2)}
    .title-main span:last-child, h1 span:last-child {
        @include fontsize(22); }
.title-sub {
    @include fontsize(48);}
.title-blurb span {
    @include fontsize(48, 25px)}

.menu {
    color: $grey;
    @include fontsize(22, 40px);}
    
h1 {
    @include fontsize(22);;
}
.nav-main a {
    text-decoration: none;
    &:hover {
        color: $pink;
        font-weight: bold; };
    @include desktop{
    @include textTransform(uppercase);
}}
    .nav-main ul {
    @include desktop{
    text-align: right; }}

figure figcaption {
    color: $white;
    }
    .caption-head {
        @include google-font;
        @include textTransform(uppercase);
        @include fontsize(22,2);}
    .caption-blurb { @include tablet{
        @include fontsize(18,2); }}

h2, h3 {
    @include textTransform(uppercase);
    @include fontsize(22, 1);}
h3 {@include textTransform(none); }