$tablet: 500;
$large: 768;
$desktop: 992;

@mixin tablet {
  @media only screen and (min-width: $tablet * 1px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large * 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop * 1px) {
    @content;
  }
}
@mixin fontsize($size){
  font-size: $size * 1px;
  font-size: $size * 0.0625rem;}

@mixin google-font($family) {
  @import url("http://fonts.googleapis.com/css?family=#{$family}");
  }
@mixin border($direction, $color) {
    border-#{$direction}: 2px, solid, $color;
  }
@mixin textTransform($textTransform){
  text-transform: $textTransform;
}


// /* ===== Usage ===== */
// h1 {
//   font-size: 10px;

//   @include tablet {
//     font-size: 12px;
//   }

//   @include desktop {
//     font-size: 20px;
//   }
// }