$tablet: 500;
$large: 768;
$desktop: 992;

@mixin tablet {
  @media only screen and (min-width: $tablet * 1px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large * 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop * 1px) {
    @content;
  }
}
@mixin fontsize($fsize, $lineHeight: 1){
  font-size: $fsize * 1px;
  font-size: $fsize * 0.0625rem;
  line-height: $lineHeight;}


@mixin google-font {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
  }
@mixin border($direction, $color) {
    @if variable-exists($direction) {
      border-#{$direction}: 2px solid $color;
  } @else {
      border: 2px solid $color;
  }}
@mixin textTransform($textTransform){
  text-transform: $textTransform;
}
@mixin bgc-img ($background-size, $background-position: null){
  background-repeat: no-repeat;
  background-size: $background-size;
  background-position: $background-position;
}
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin wh($width: false, $height: false) {
	$width: unquote($width);
	@if $height != none { 
		$height: unquote($height); }
		
	@if $height != false {
		width: #{$width};
		height: #{$height}; }
	@else {
		width: #{$width};
		height: #{$width}; } }
@mixin margin($m-direction, $m-amount) {
  @if $m-direction == all {
    margin: $m-amount;
  } @else {
    margin-#{$m-direction}: $m-amount;
  }
}
@mixin position($top: null, $right: null, $bottom: null, $left: null) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin calc($property, $expression...) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 
@mixin transition($arg...) {
  -webkit-transition: $arg;
  -moz-transition: $arg;
  -ms-transition: $arg;
  -o-transition: $arg;
  transition: $arg;
}
@mixin translate($x...) {
  -webkit-transform: translate($x);
  -moz-transform: translate($x);
  -ms-transform: translate($x);
  -o-transform: translate($x);
  transform: translate($x);
}
@mixin scale($k, $l: $k) {
  -webkit-transform: scale($k, $l);
  -moz-transform: scale($k, $l);  
  -ms-transform: scale($k, $l);
  -o-transform: scale($k, $l);
  transform: scale($k, $l);
}
@mixin transfOrigin($z, $s) {
  -webkit-transform-origin: $z $s;
  -moz-transition-origin: $z $s;  -ms-transform-origin: $z $s;
  -o-transform-origin: $z $s;
  transform-origin: $z $s;
}
